MODE=development
TIME_LOST=180
GROUP_ID=1
CRON_INGEST=
CRON_UPDATE=

RD_CLIENT_ID=
RD_CLIENT_SECRET=
RD_BASE_URL=
RD_OWNER_ID=
RD_DEAL_STAGE_ID=

INTERNAL_API_URL=
INTERNAL_API_TOKEN=

MAGENTO_ACCESS_TOKEN=
MAGENTO_BASE_URL=

LOGGER_URL=
LOGGER_ACTIVE=false

MONGODB_URI=