MODE=development
TIME_LOST=180
GROUP_ID=1
CRON_INGEST=
CRON_UPDATE=

RD_TOKEN=
RD_BASE_URL=

INTERNAL_API_URL=
INTERNAL_API_TOKEN=

MAGENTO_ACCESS_TOKEN=
MAGENTO_BASE_URL=

NEW_CLIENTS_API_BASE_URL=
NEW_CLIENTS_API_TOKEN=

LOGGER_URL=
LOGGER_ACTIVE=false